<!DOCTYPE html>

<html>
    
<head>
    <title>About</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Pirva Valentin. It uses data from Weatherstack.com and mapbox.com!</p>
    </div>
    
    {{>footer}}
</body>

</html>